<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-30 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Customer Dashboard</a>
  <!-- <input class="form-control form-control-dark w-100" (ngModelChange)="searchchange($event)" [(ngModel)]="searchtxt" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Hello Bhaskar</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top: 80px;"> 
  <div class="row">

    <div class="col-sm-6">
      <h3 style=" padding-bottom: 30px;">Add New Customer</h3>
      <form [formGroup]="createCustomerForm">
        <div style=" padding-bottom: 20px;" class="form-row">
          <div class="col">
            <label for="fname"> <strong>First Name</strong></label>
            <input id="fname" 
              type="text" 
              class="form-control" 
              placeholder="Joe"
              formControlName="firstName"
            >
          </div>
          <div class="col">
            <label for="lname"><strong>Last Name</strong></label>
            <input id="lname" 
              type="text" 
              class="form-control" 
              placeholder="Hisashi"
              formControlName="lastName"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="email"><strong>Email address</strong></label>
          <input type="email" 
            class="form-control" 
            id="email" 
            placeholder="name@example.com"
            formControlName="email"
          >
        </div>
        <button (click)="createCustomer()" class="btn btn-primary">Add Customer</button>
      </form>

    </div>
    <div class="col-sm-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <h3 style=" padding-bottom: 30px;">Existing Customers</h3>
          </tr>
          <tr>
            <th scope="col" *ngFor="let column of columns">{{column}}</th>
          </tr>
        </thead>
        <tbody *ngIf="!employees.length">
          <div class="container">
            <div class="row" style="text-align: center;">
              <h3 style="padding-top: 30px; color: gray;"> Add a Customer!</h3>
            </div> 
          </div>
        </tbody>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td><input type="text" placeholder="First Name" [(ngModel)]="emp.firstName"></td>
                <td><input type="text" placeholder="Last Name" [(ngModel)]="emp.lastName"></td>
                <td><input type="text" placeholder="Email" [(ngModel)]="emp.email"></td>
                <td>
                  <button class="btn btn-info" (click)="update(emp)" style="margin-right:5px ">Update</button>
                  <button class="btn btn-danger" (click)="delete(emp)">Delete</button>
                </td>
            </tr>
        </tbody>
      </table>

    </div>

    

  </div> 

</div>